.ftco-section {
    padding: 7em 0;
    position: relative;
}

/* .animate {
    opacity: 0;
    visibility: hidden;
} */

.heading-section h2 {
    font-size: 24px;
    font-weight: 600;
}

.heading-section .subheading {
    font-size: 12px;
    display: block;
    font-weight: 600;
    color: #1089ff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.block-20 {
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 250px;
    position: relative;
    display: block;
}

.blog-entry .text {
    position: relative;
    border-top: 0;
    border-radius: 3px;
}

.blog-entry .meta > div {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}

.blog-entry .meta > div a {
    color: #999999;
    font-weight: 400;
}

.blog-entry .text .meta-chat {
    color: #a3cb4c;
}

.bi {
    display: inline-block;
    margin-left: 10px;
    font-size: inherit;
    font: normal normal;
}

.blog-entry .text .heading {
    font-size: 18px;
    margin-bottom: 16px;
    font-weight: 400;
}

