.ftco-section {
    padding: 7em 0;
    position: relative;
}

.animate {
    opacity: 0;
    visibility: hidden;
}

.heading-section h2 {
    font-size: 24px;
    font-weight: 600;
}

.heading-section .subheading {
    font-size: 12px;
    display: block;
    font-weight: 600;
    color: #1089ff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.blog-entry a {
    background: url(../../images/healthy1.jfif);
}

.block-20 {
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 250px;
    position: relative;
    display: block;
}