@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* carousel styling */

.carousel-inner .carousel-item img {
    position: relative;
    max-width: 100%;
    z-index: 0;
    overflow: hidden;
}

.carousel-inner .carousel-item .carousel-caption {
    position: absolute;
}

.carousel-item .carousel-caption h5 {
    font-size: 20px;
    color: #1089FF;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}
.carousel-item .carousel-caption p {
    font-size: 30px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    text-transform: capitalize;
}


/* card image styling */

.card-deck {
    padding: 7em 0;
    position: relative;
}

.card {
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 10px 10px 15px rgba(67, 66, 66, 0.3);
}

.card .card-img-top {
    height: 400px;
    object-fit: cover;
}

.card-title,
.card-text {
    text-align: center;
}

.card-title {
    font-size: 20px;
    color: #262728;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-transform: capitalize;
}

.card-text {
    font-size: 15px;
    color: grey;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
