footer {
    padding: 7em 0;
    position: relative;
}

.footer-section {
    background: #131719;
}

.footer-section .subscribe {
    margin-top: -130px;
}

.footer-section .subscribe-form {
    border-radius: 4px;
    background-color: #fff;
    padding: 0;
    box-shadow: 0px -12px -21px -15px rgba(0, 0, 0, 0.1);
}