footer {
    padding: 7em 0;
    position: relative;
}

.footer-section {
    background: #131719;
}

.footer-section .subscribe {
    margin-top: -130px;
}

.footer-section .subscribe-form {
    border-radius: 4px;
    background-color: #fff;
    padding: 0;
    box-shadow: 0px -12px -21px -15px rgba(0, 0, 0, 0.1);
}

.footer-section .subscribe-form .form-group {
    position: relative;
    margin-bottom: 0;
    border-radius: 0;
}

.footer-section .subscribe-form .form-group input {
    background: transparent !important;
    border: none !important;
    outline: none !important;
    color: rgba(0, 0, 0, 0.3) !important;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0;
}

.footer-section .subscribe-form .form-group .submit {
    color: #fff !important;
    display: block;
    font-size: 14px;
    background: #a7cd54 !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 4px;
}

.footer-section .footer-heading {
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 20px;
}


.footer-section .fw-bold {
    font-weight: 900;
}

.footer-section .footer-heading span {
    color: #a7cd54;
}

.footer-section p {
    color: rgba(225, 225, 255, 0.3);
}

.footer-section .border-left {
    border-color: rgba(225, 225, 255, 0.05) !important;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

.footer-section .list-unstyled {
    padding-left: 0;
    list-style-type: none;
}

.footer-section .list-unstyled a {
    font-size: 14px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
}

.footer-section .list-unstyled a:hover {
    color: rgba(255, 255, 255, 1);
}

.footer-section .copyright {
    color: rgba(255, 255, 255, 0.4);
    font-size: 14px;
}

.footer-section .copyright .bi {
    display: inline-block;
    font-size: inherit;
    font: normal normal;
    margin: 3px;
}